################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/obj/Debug
*.db
*.db-shm
*.db-wal
*.v2
*.vsidx
*.bin
*.exe
*.dll
*.pdb
*.cache
*.suo
obj/
bin/
.vs/
.png/
.svg/
.cr
.picture
